/* Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=chinese-traditional"); 
/* reset css */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
$body-bg: #f8f7fc;
$body-color: #234686;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{abbrev}-#{num} {
      #{prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75
  ),
  4: $spacer,
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

.m-1 {
  margin: $spacer * 0.25;
}

.mt-1 {
  margin-top: $spacer * 0.25;
}

.mx-1 {
  margin-left: $spacer * 0.25;
  margin-right: $spacer * 0.25;
}

/* 使用@each 產出css spacer設定 */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $body-bg;
  color: black;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar {
  // 整體的樣式
  &::-webkit-scrollbar {
    width: 6px;
  }
  // bar的樣式
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

%standard-boxshadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: black;
}

.checkbox {
  position: relative;
  width: 21px;
  height: 20px;
  -webkit-appearance: none;
  background-image: url('../../icons/checkbox.svg');
  &:hover {
    @extend %standard-boxshadow;
    cursor: pointer;
  }
  &:checked::after{
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

%grid {
  display: grid;
  grid-template-columns: 5fr 8fr repeat(2, 14fr) 20fr repeat(3, 14fr) 21fr;
  grid-template-rows: 50px;
  grid-template-areas: 
  'checkbox id name advertiser description price start-time end-time actions';
  justify-items: center;
  align-items: center;
  .checkbox-wrapper {
    grid-area: checkbox;        
  }
  .id {
    grid-area: id;
  }
  .name {
    grid-area: name;
  }
  .advertiser {
    grid-area: advertiser;
  }
  .description {
    grid-area: description;
  }
  .price {
    grid-area: price;
  }
  .start-time {
    grid-area: start-time;
  }
  .end-time {
    grid-area: end-time;
  }
  .actions {
    grid-area: actions;
  }
}

.odd {
  background-color: rgb(212, 210, 210);
}
.orange {
  background-color: orange;
}

/* style start */
.main-app {
  height: 100%;
}
/* Navbar */
.nav {
  width: 100px;
  background-color: $body-color;
  height: 100%;
  .home img {
    height: 20px;
  }
  .options {
    margin: 4rem auto;
    div {
      width: 40px;
      height: 40px;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
/* Main Content */
.main-content {
  width: 100%;
  h1 {
    font-size: 48px;
    font-weight: 400;
    padding: 20px;
  }
  .table-wrapper {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
    header {
      position: fixed;
      z-index: 999;
      width: 88%;
      background-color: $light-gray;
      @extend %grid;
    }
    .advertiser {
      text-align: center;
      & :nth-child(2) {
        font-size: 0.9rem;
        color: $dark-gray;
      }
    }
    .price,
    .start-time, 
    .end-time {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 15px;
    }
    .price, .end-time {
      margin-left: 30px;
    }
    .price img, 
    .start-time img, 
    .end-time img {
      margin-left: 10px;
      width: 20px;
      height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .list-container {
      padding-top: 50px;
    }
    .list {
      text-align: center;
      font-size: 0.8rem;
      @extend %grid;
      .advertiser {
        & :nth-child(2) {
          font-size: 0.8rem;
        }
      }
      .description {
        overflow: hidden; 
      }
      .actions {
        position: relative;
        & > img:hover{
          cursor: pointer;
        }
        .popup {
          border: 1px solid gray;
          background-color: #fff;
          position: absolute;
          z-index: 10;
          top: 0;
          right: 30px;
          width: 100px;
          height: 90px;
          .popup-items {
            display: flex;
            align-items: center;
            height: 30px;
            width: 100%;
            &:hover {
              cursor: pointer;
              border: 1px solid black;
            }
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}